$primary-color: #0a1c2e;
$secondary-color: #2a9d8f;
$tertiary-color: #d9d9d9;
$quaternary-color: #ffffff;

:root {
  --purple: #6f42c1;
  --yellow: #ffc107;
  --cyan: #0dcaf0;
  --red: #dc3545;
  --indigo: #6610f2;

  --purple-dark: #59359a;
  --yellow-dark: #d39e00;
  --cyan-dark: #0aa2c0;
  --red-dark: #bb2d3b;
  --indigo-dark: #520dc2;
}
