<main class="p-5" *ngIf="projectDetails">
  <!-- !Title -->
  <div class="d-flex flex-row justify-content-center">
    <div style="width: fit-content; padding: 20px" class="custom-border">
      <h1>{{ project!.title }}</h1>
    </div>
  </div>

  <ng-container *ngIf="projectName == 'tasks-manager'"
    ><app-ngrx-task-manager></app-ngrx-task-manager>
  </ng-container>

  <div class="container mt-5">
    <!-- !Image -->
    <div class="image-container item1 quickslideInLeft">
      <img [src]="project!.img[0]" alt="" />
    </div>

    <section class="description-container glass-card item2 quickslideInRight">
      <!-- !Description -->
      <div *ngIf="description">
        <h4>Description</h4>
        <p>{{ description | translate }}</p>
      </div>
      <!-- !New Interface-->
      <div *ngIf="newInterface">
        <h4>New Interface</h4>
        <p>{{ newInterface | translate }}</p>
      </div>
    </section>

    <section class="description-container glass-card item3 slideInLeft">
      <!-- !Techs -->
      <div *ngIf="techs">
        <h4>Techs</h4>
        <p>{{ techs | translate }}</p>
        <div class="skills-container">
          <div
            class="svg-container p-3"
            *ngFor="let item of project?.techsIcons"
            (click)="navigateToTech(item.docUrl!)"
          >
            <img
              [src]="item.url"
              alt=""
              style="width: 54px; height: 54px; max-width: 54px"
            />
            <p style="margin: 0">{{ item.name }}</p>
          </div>
        </div>
      </div>
    </section>

    <!-- !Image -->
    <div class="image-container item4 slideInRight">
      <img [src]="project!.img[0]" alt="" />
    </div>

    <section class="description-container glass-card item5 slideInBottom">
      <!-- !Features -->
      <h4>Features</h4>
      <ul>
        <li *ngFor="let feature of getObjectKeys(projectDetails.features)">
          {{ translateFeature(projectName!, feature) }}
        </li>
      </ul>

      <!-- !subfeatures -->
      <div *ngIf="projectDetails.subfeature">
        <h2>Subfeatures</h2>
        <ul>
          <li
            *ngFor="let subfeature of getObjectKeys(projectDetails.subfeatures)"
          >
            {{ translateFeature(projectName!, subfeature) }}
          </li>
        </ul>
      </div>

      <!-- !Conclusion-->
      <div *ngIf="conclusion">
        <p>{{ conclusion | translate }}</p>
      </div>
    </section>
  </div>
</main>
