@import "../../../styles/variables.scss";

.item1 {
  grid-area: item1;
}

.item2 {
  grid-area: item2;
}
.item3 {
  grid-area: item3;
}

.item4 {
  grid-area: item4;
}
.item5 {
  grid-area: item5;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    "item1 item2"
    "item3 item4"
    "item5 item5";
  row-gap: 5em;
  column-gap: 2em;

  @media screen and (max-width: 768px) {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
      "item1"
      "item2"
      "item4"
      "item3"
      "item5";
  }
}

.glass-card {
  width: 100%;
  background-color: #ffffff08;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 20px;
  backdrop-filter: blur(8px);
}

.image-container {
  @media screen and (max-width: 768px) {
    height: 40vh;
  }
  border-radius: 8px;
  width: 100%;
  height: auto;
  min-height: 60vh;
  overflow: hidden;
  position: relative;
}

.image-container img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centra esattamente l'immagine */
  width: auto;
  height: 100%;
  max-width: none;
  max-height: none;
}
.description-container {
  width: inherit;
  min-height: auto;
  height: fit-content;
  min-height: 60vh;
  overflow: hidden;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.skills-container {
  padding: 2% 2.5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.svg-container {
  display: flex;
  height: fit-content;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  border-radius: 0.5rem;
  &:hover {
    background-color: #f0f0f08b;
    scale: 1.1;
    transition: 0.3s;
  }
}
