<nav class="navbar gradient navbar-expand-md fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img
        style="width: 50px; height: 50px"
        src="assets/quel gnaro.png"
        alt="logo"
        routerLink="/home"
    /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasNavbar"
      aria-controls="offcanvasNavbar"
      aria-label="Toggle navigation"
    >
      <fa-icon [icon]="['fas', 'bars']" style="color: white"></fa-icon>
    </button>
    <div
      class="offcanvas offcanvas-end"
      tabindex="-1"
      id="offcanvasNavbar"
      aria-labelledby="offcanvasNavbarLabel"
    >
      <div class="offcanvas-header">
        <a class="navbar-brand" href="#">
          <img
            style="width: 50px; height: 50px"
            src="assets/quel gnaro.png"
            alt="logo"
            routerLink="/home"
        /></a>
        <button
          class="navbar-toggler closing-button"
          type="button"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        >
          <fa-icon [icon]="['fas', 'x']" style="color: white"></fa-icon>
        </button>
      </div>
      <div class="offcanvas-body gradient" [ngClass]="{ gradient: isMobile }">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li
            class="nav-item m-1 custom-item"
            *ngFor="let item of sections"
            (click)="navigateTo(item.link)"
          >
            <a
              aria-current="page"
              aria-label="Close"
              data-bs-dismiss="offcanvas"
            >
              {{ item.name }}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
