@import "../../../styles/variables.scss";

//to remove the border of the navbar-toggler
.navbar {
  --bs-navbar-toggler-border-color: none !important;
  --bs-navbar-toggler-focus-width: none !important;
}

.closing-button {
  position: fixed;
  right: 12px;
  top: 25px;
}

.offcanvas-header {
  background-color: $secondary-color !important;
}

.btn-close {
  padding: var(--bs-navbar-toggler-padding-y) var(--bs-navbar-toggler-padding-x) !important;
  width: 1.5em !important;
  height: 1.5em !important;
}

.custom-item {
  cursor: pointer;
  display: inline-block;
  padding: 8px 16px;
  border-radius: 20px;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
  color: white;

  &:hover {
    background-color: white;
    color: $primary-color;
    text-decoration: underline;
  }
}

li {
  font-size: 20px;
  font-weight: 500;
}

.gradient {
  background: linear-gradient(to bottom, $secondary-color, $primary-color);
}
