<section class="intro">
  <div class="image-container">
    <img
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQTnayXzvYqlR0z4I5vTcnW0zDLnm4Uf_itYg&s"
      alt="profile_image"
      class="profile-image"
    />
    <h1>I'm Lorenzo Baratti</h1>
    <h3>Front-end Web Developer</h3>
    <div>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus,
        sapiente dolorum assumenda autem expedita optio architecto sit atque.
        Aperiam, obcaecati? Molestiae ipsam corrupti ipsa expedita? Nobis,
        ducimus. Quibusdam, dignissimos iusto.
      </p>
      <div class="btn-cta">
        <button class="btn btn-primary">learn more</button>
        <button class="btn btn-primary">contact me</button>
      </div>
    </div>
  </div>
</section>
