@import "../../../styles/variables.scss";

.main-container {
  width: 100vw;
  margin-top: 90px;
}

.container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.dark {
  background-color: $primary-color;
  color: $quaternary-color;
}

.light {
  background-color: $quaternary-color;
  color: $primary-color;
}
