@import "../../../styles/variables.scss";

.main-container {
  width: 100%;
  margin-top: 90px;
  // padding: 2% 0;
}

.dark {
  background-color: $primary-color;
  color: $quaternary-color;
}

.light {
  background-color: $quaternary-color;
  color: $primary-color;
}
