/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";
@import "styles/variables.scss";

@keyframes scroll {
  from {
    opacity: 0;
    scale: 0.5;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(+100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInBottom {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.to-top-cta:hover {
  animation: bounce 0.8s infinite linear;
}

.slideInBottom {
  animation: slideInBottom 1s linear;
  animation-timeline: view();
  animation-range: entry 0 cover 30%;
}
.slideInLeft {
  animation: slideInLeft 1s linear;
  animation-timeline: view();
  animation-range: entry 0 cover 30%;
}
.slideInRight {
  animation: slideInRight 1s linear;
  animation-timeline: view();
  animation-range: entry 0 cover 30%;
}

.quickslideInLeft {
  animation: slideInLeft 700ms linear;
}

.quickslideInRight {
  animation: slideInRight 700ms linear;
}

.scroll {
  animation: scroll linear;
  animation-timeline: view();
  animation-range: entry 0 cover 30%;
}

body {
  height: 100%;
}

html {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-family: "Ubuntu Mono", monospace;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  line-height: 1.65;
}

.dark {
  background-color: $primary-color;
  color: $quaternary-color;
}

.light {
  background-color: $quaternary-color;
  color: $primary-color;
}
