<footer class="text-center text-lg-start mt-5">
  <!-- Grid container -->
  <div class="container p-4 pb-0">
    <section>
      <div class="row">
        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto my-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">
            {{ "footer.title" | translate }}
          </h6>
          <p>
            {{ "footer.message" | translate }}
          </p>
          <button class="btn rounded-pill hover" (click)="downloadCV()">
            Download CV
            <fa-icon
              [icon]="['fas', 'download']"
              style="margin-right: 5px"
            ></fa-icon>
          </button>
        </div>

        <!-- Grid column -->
        <hr class="w-100 clearfix d-md-none" />

        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">Contacts</h6>

          <div class="row">
            <div *ngFor="let item of contacts">
              <p class="copy-text">
                <fa-icon
                  [icon]="[item.pre, item.icon]"
                  style="margin-right: 5px"
                ></fa-icon>
                <a
                  [href]="item.url"
                  *ngIf="item.url"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  {{ item.name }}</a
                >
                <!-- printing just the email -->
                <span *ngIf="!item.url">{{ item.name }} </span>
                <fa-icon
                  *ngIf="!item.url"
                  type="button"
                  #tooltip="ngbTooltip"
                  [ngbTooltip]="copyTitle"
                  id="textToCopy"
                  (click)="copyText()"
                  class="copy-icon"
                  [icon]="['fas', 'copy']"
                ></fa-icon>
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <hr class="my-3" />

    <!-- Section: Copyright -->
    <section class="p-3 pt-0">
      <div class="row d-flex align-items-center">
        <div class="col-md-7 col-lg-8 text-center text-md-start">
          <div class="p-3">
            <p>
              © <span>{{ year }}</span> Lorenzo Baratti. All rights reserved.
            </p>
          </div>
        </div>
      </div>
    </section>
  </div>
</footer>

<!-- TODO: capire meglio in futuro se servirà inserire cookies per tracciamento -->
