<div id="container-floating" [ngClass]="{ close: isMobileMenuOpen }">
  <div class="nd4 nds" (click)="toggleTheme()">
    <fa-icon class="icon" [icon]="['fas', 'circle-half-stroke']"></fa-icon>
  </div>

  <div class="nd3 nds" (click)="toggleLanguage()">
    <img
      src="assets/italy-flag-circular-17751.svg"
      alt=""
      *ngIf="currentLanguage == 'it'"
      class="nds"
    />
    <img
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/13/United-kingdom_flag_icon_round.svg/512px-United-kingdom_flag_icon_round.svg.png"
      *ngIf="currentLanguage == 'en'"
      alt=""
      class="nds"
    />
  </div>

  <div class="nd2 nds" (click)="smaller()">
    <fa-icon class="icon" [icon]="['fas', 'magnifying-glass-minus']"></fa-icon>
  </div>
  <div class="nd1 nds" (click)="bigger()">
    <fa-icon class="icon" [icon]="['fas', 'magnifying-glass-plus']"></fa-icon>
  </div>

  <div id="floating-button">
    <fa-icon class="icon" [icon]="['fas', 'gear']"></fa-icon>
  </div>
</div>
